.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.form-profile {
}

.user-info {
  text-align: center;
}

.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info h2 {
  margin-bottom: 10px;
}

.user-info p {
  margin: 5px 0;
}

.update-form {
  margin-top: 30px;
}

.update-form label {
  display: block;
  margin-bottom: 10px;
}
.teste {
  display: flex;
  align-items: center;
  background-color: #c82333;
}

.update-form input,
.update-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logout-btn {
  padding: 12px 20px;
  font-size: 16px;
  width: 100px;
  background-color: #c82333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #a61d2e;
}
.update-button {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .user-info img {
    width: 120px;
    height: 120px;
  }

  .update-form input,
  .update-form textarea {
    font-size: 14px;
  }
}
